@model IList<Kino.ViewModels.ReservationEditViewModel>

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<!--<script src="@Url.Content("~/Scripts/jquery-2.2.0.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/script.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>-->

<script type="text/javascript">

    $("#formEditReservation").find("#editReservationButton").click(function () {

        $.ajax({
            type: "POST",
            url: "../Reservation/Edit",
            data: $("#formEditReservation").serialize(),
            success: function (data) {
                // data is ur summary
                //alert(data);
                location.reload();
               // showReservation();
                //debugger;
            }


        });

    });

    function showReservation() {
        $.ajax({
            //    type: "POST",
            url: "../Reservation/Index",
            // data: dataString,
            //   dataType: "json",
            //   traditional: true,
        }).done(function (data) {
            // console.log(data);
            //
            $(".ui-dialog").hide();
            $('#page-content-wrapper').html(data);
            //$(".ui-dialog").hide();

        });

    }

    

</script>
<form class="form-horizontal" id="formEditReservation">
    <br />
@for (int i = 0; i < Model.Count; i++)
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model[i].IdRezerwacji);

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model[i].IdSali);

    <div class="form-group">
        @Html.LabelFor(model => model[i].Numer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model[i].Numer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model[i].Numer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model[i].Rząd, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model[i].Rząd, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model[i].Rząd, "", new { @class = "text-danger" })
        </div>
    </div>  
      <a href="#" id="editReservationButton" class="btn btn-primary pull-right" style="text-decoration:none">Edytuj</a>

}
</form>
