@model IEnumerable<Kino.ViewModels.ReservationViewModel>

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-2.2.0.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/script.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>


<!--<a href="#DodajRezerwacje" id="addReservation" class="action-button shadow animate blue" style="text-decoration:none" onclick="addReservation()">Dodaj rezerwację</a>
    -->
<table class="table table-bordered .table-hover .table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdRezerwacji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NazwaSali)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumerMiejsca)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.Rząd)
        </th>         
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdRezerwacji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazwaSali)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumerMiejsca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rząd)
        </td>           
        <td>
            <a href="#EdytujRzezerwacje" id="editReservation" class="action-button shadow animate blue" style="text-decoration:none" onclick="editReservation(@item.IdRezerwacji)">Edytuj</a>
            <a href="#SzczegolyRezerwacji" id="detailReservation" class="action-button shadow animate blue" style="text-decoration:none" onclick="detailsReservation(@item.IdRezerwacji)">Szczegóły</a>
            <a href="#UsunRezerwacje" class="action-button shadow animate blue" style="text-decoration:none" onclick="detailsReservation(@item.IdRezerwacji)">Usuń</a>
        </td>
    </tr>
}

</table>

<div id="editReservationModal" title="Edytuj rezerwację">
    <div class="editResevation"></div>
</div>

<div id="detailsReservationModal" title="Szczegoly rezerwacji">
    <div class="detailsResevation"></div>
</div>

<div id="deleteModal" title="Usuń rezerwację">
    <div class="deleteResevation"></div>
</div>

<div id="addModal" title="Dodaj rezerwację">
    <div class="addReservation"></div>
</div>


<!--<div id="calendar"></div>-->