@using Kino.Models
@model IEnumerable<Kino>
    @{
        ViewBag.Title = "Cinema";
    }

    <div class="col-md-11 text-center">

        @foreach (var item in Model)
        {
            <div id="@item.Nazwa">
                <div class="col-md-4 text-center ">
                    @using (Html.BeginForm("Main", "Cinema", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                        <button type='submit' style="overflow:visible;border:0;background:transparent;" name="tswij">
                            @Html.Hidden("CinemaId", @item.Id)
                            <div class="tile">
                                <div class="tekst">@item.Nazwa</div>
                            </div>



                        </button>
                    }
                </div>
            </div>

        }
    </div>

    <div class="col-md-1 text-center">
        <!--<button onclick="deleteCinema();" style="background:transparent; "><span class="fa-stack fa-lg pull-right"><i class="fa fa-minus  fa-stack-2x "></i></span></button> -->
        <button type="button" id="btn-minus" style="background:transparent; border: 0 none;"><span class="fa-stack fa-lg pull-right"><i class="fa fa-minus  fa-stack-2x "></i></span></button>
        <button type="button" id="btn-plus" style="background:transparent; border: 0 none;"><span class="fa-stack fa-lg pull-right"><i class="fa fa-plus  fa-stack-2x "></i></span></button>
    </div>



    <!-- The Modal -->
    <div id="minusModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">×</span>
            <p>
                Usuń kino
            </p>
            <p>
                <select class='form-control' id='deleteCinema'>
                    @foreach (var item in Model)
                    {
                        <option value=@item.Id>@item.Nazwa</option>

                    }
                </select>
            </p>

            <p style="margin-bottom: 35px;">
                <button id="id_login_btn" class="btn btn-primary pull-right" type="submit" name="loginForm" onclick="deleteCinema()">
                    <i class="icon-user icon-white"></i>
                    Usuń
                </button>
            </p>
        </div>

    </div>


    <div id="plusModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close_plus">×</span>
            <p>
                Dodaj kino
            </p>
            <p>               
                    <input id="cinemaName" class="form-control" placeholder="Nazwa" type="text">
                
            </p><p>
                    <input id="cinemaAdress" class="form-control" placeholder="Adres" type="text">

                </p>

            <p style="margin-bottom: 35px;">
                <button id="id_login_btn" class="btn btn-primary pull-right" type="submit" name="loginForm" onclick="addCinema()">
                    <i class="icon-user icon-white"></i>
                    Dodaj
                </button>
            </p>
        </div>

    </div>
