@model Kino.Models.Film

<!--<script src="@Url.Content("~/Scripts/jquery-2.2.0.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
<script src="@Url.Content("~/Scripts/script.js")"></script>-->
<script type="text/javascript">
  

    $("#formAddMovie").find("#addMovieButton").click(function () {
            

               
                $.ajax({
                    type: "POST",
                    url: "../Movie/Create",
                    data: $("#formAddMovie").serialize(),
                    success: function (data) {
                        // data is ur summary
                        //alert(data);
                        showFilms();
                        //debugger;
                    }


                });

            });
       

            // document.getElementById("formEditMovie").reset();
            // return false;
        

        function showFilms() {

            $.ajax({
                //type: "POST",
                url: "../Movie/Index",
                // data: $("#formAddMovie").serialize(),
                success: function (data) {
                    // data is ur summary
                    //alert(data);
                    //  location.reload();
                    $(".ui-dialog").hide();
                    $('#page-content-wrapper').html(data);
                    //debugger;
                }


            });



        }

</script>

    <form class="form-horizontal" id="formAddMovie">
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Tytuł, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tytuł, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tytuł, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Rok, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Rok, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Rok, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Reżyser, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reżyser, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Reżyser, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div style="margin-left: 81%;">
            <a href="#" id="addMovieButton" class="action-button shadow animate blue" style="text-decoration:none">Dodaj</a>
        </div>
    </div>

    </form>

