@model Kino.Models.Film


<script src="@Url.Content("~/Scripts/jquery-2.2.0.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
<script src="@Url.Content("~/Scripts/script.js")"></script>



<form onclick="deleteMovieForm(@Html.DisplayFor(model => model.Id))">


    <h3>Czy na pewno chcesz usuń ten film?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Tytuł)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tytuł)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rok)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rok)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reżyser)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reżyser)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Opis)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Opis)
            </dd>

        </dl>



        <div class="form-actions no-color">
            <div class="col-md-offset-9 ">
                <input type="submit" value="Usun" id="deleteConfirm" class="btn btn-primary" />
            </div>
        </div>

    </div>
</form>

