@model Kino.Models.Film

<div>      
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tytuł)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytuł)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reżyser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reżyser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

    </dl>
</div>

